{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout | Asil Elektro City</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="login_container">
        <div class="login_form">
            <h2>Siz xozirgina saxifadan chiqdingiz</h2>
            <p>Qaytishni istasangiz <a href="{% url 'login' %}" style="color: blue;">Qaytish</a> tugmasini bosing</p>
        </div>
    </div>

    <script src="{% static 'js/variables.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>