<!-- obyekt.html -->
{% extends 'base.html' %}

{% block title %}Ishchilar{% endblock %}

{% block styles %}
<style>
    /* Add your page-specific styles here */
    
    .add-form-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        width: 300px;
        padding: 20px;
        border-radius: 8px;
    }

    .add-form-container .title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .add-form-container .title i {
        font-size: 24px;
        margin-right: 10px;
        color: #3498db; /* Blue color, change as needed */
    }

    .add-form-container .title h2 {
        font-size: 18px;
        margin: 0;
        color: #333; /* Dark text color, change as needed */
    }

    .add-form-container .box-wrapper {
        margin-bottom: 20px;
    }

    .add-form-container .input-box {
        margin-bottom: 15px;
    }

    .add-form-container label {
        display: block;
        font-size: 14px;
        color: #666; /* Gray text color, change as needed */
        margin-bottom: 5px;
    }

    .add-form-container input {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc; /* Light border color, change as needed */
        border-radius: 4px;
        box-sizing: border-box;
    }

    .add-form-container .save {
        background-color: #38903c; /* Green color, change as needed */
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }

    .table-container {
        max-height: 300px; /* Adjust the height as needed */
        overflow: auto;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }

    tr, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    tr, td {
        text-align: center;
        padding:8px;
        border: 1px solid #dddddd;
    }
    td:first-child {
        color: green;
    }
    .add-button .add-btn {
        width: 200px !important;
    }
    .add-button {
    border: none;
    padding: 7px 10px;
    background: var(--primary);
    color: var(--light);
    border-radius: 5px;
    overflow-x: visible;
    white-space: nowrap;
    cursor: pointer;
}
td {
    overflow: hidden; /* Hide any content that exceeds the width */
    text-overflow: ellipsis; /*Show an ellipsis (...) when content overflows */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
</style>
{% endblock %}
{% load custom_filters %}
{% block content %}
<main data-name="obyekt">
    <div class="bottom-data">
        <div class="orders">
            <div class="header">
                <h3><i class='bx bx-receipt'></i> Ishchining bajargan ishlari</h3>
                
                <select id="productTypeSelect1" class="button_cool" title="Oy bo'yicha saralash" style="width: 210px;">
                    <option value="0">Ishchini tanlang</option>
                    {% for worker in all_workers %}
                    <option value="{{ worker.id }}" {% if request.COOKIES.worker_admin_id == worker.id|stringformat:"s" %}selected {% endif %}>{{ worker.first_name }}</option>
                    {% endfor %}
                </select>
                <select id="productTypeSelect2" class="button_cool" title="Oy bo'yicha saralash" style="width: 210px;">
                    <option value="24200">Oyni tanlang</option>
                    {% for month in months %}
                        <option value="{{ month }}" {% if request.COOKIES.worker_date_admin_id == month|stringformat:"s" %}selected {% endif %}>{{ month|define_cur_month }} - {{ month|define_cur_year }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if worker_type == 'Admin' %}
            <table id="myTable3">
                <thead>
                <tr>
                    <th><center>№</center></th>
                    <th><center>Obyekt nomi</center></th>
                    <th><center>Ish haqqi</center></th>
                    <!-- <th><center>Tasdiqlandi</center></th> -->
                    <th><center>Kiritilgan vaqt</center></th>
                </tr>
                </thead>
                <tbody>
                    {% for obyekt in workdaymoneys %}
                <tr class="edit-obyekt" data-id="{{ obyekt.id }}">
                    <td id="{{ obyekt.id }}" class="obyekt-id" data-id="{{ obyekt.id }}" data-worker="{{ obyekt.responsible.id }}" data-max-dept="{{ obyekt.max_dept }}">{{ forloop.counter }}</td>
                    <td id="{{ obyekt.id }}obyekt">
                        <a href="{% url 'ishchi_app:obyekt_ishi' %}" onclick="setObyektCookie2({{ obyekt.obyekt_id }})">{{ obyekt.obyekt_name }}</a>
                    </td>
                    <td id="{{ obyekt.id }}earn_amount">
                        <a href="{% url 'ishchi_app:done_work_detail' %}" onclick="setObyektCookie2({{ obyekt.id }})">{{ obyekt.earn_amount|spacecomma }} so'm</a>
                    </td>
                    <!-- <td id="{{ obyekt.id }}admin_accepted" {% if obyekt.admin_accepted %} style="color: green;" {% else %} style="color:red;" {% endif %}>{{ obyekt.admin_accepted|bool_to_word }}</td> -->
                    <td id="{{ obyekt.id }}date">{{ obyekt.date|date:"d-m-Y" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p style="margin: 10px 0;font-size: 20px;color: green;">Berilgan summa: <span id="totalAmount">{{ given_total|spacecomma }}</span> so'm</p>
            <p style="margin: 10px 0;font-size: 20px;color: green;">Ishchining oyligi: <span id="totalAmount">{{ work_money_earn|spacecomma }}</span> so'm</p>
            
            {% endif %}
        </div>
    </div>

</main>


<!-- create -->
<div id="productFormContainer" class="add-form-container">
    <div class="title">
        <i class='bx bx-package'></i>
        <h2>Obyekt qo'shish</h2>
    </div>
    <form action="{% url 'obyekt_app:create_obyekt' %}" class="info" method="post">{% csrf_token %}
        <div class="box-wrapper">
            <div class="input-box">
                <label for="obyekt_worker">Javobgar:</label>
                <select id="obyekt_worker" name="obyekt_worker" style="width: 250px;">
                    {% for obyekt_worker in obyekt_workers %}
                        <option value="{{ obyekt_worker.id }}">{{ obyekt_worker.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <label for="name">Nomi:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="input-box">
                <label for="address">Manzil:</label>
                <input type="text" id="address" name="address">
            </div>
            <div class="input-box">
                <label for="job_type">Ish turi:</label>
                <select id="job_type" name="job_type" style="width: 250px;">
                    {% for obyektjobtype in obyektjobtypes %}
                    <option value="{{ obyektjobtype.name }}">{{ obyektjobtype.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <label for="deal_amount">Kelishilgan summa:</label>
                <input type="number" value="0" min="0" id="deal_amount" name="deal_amount">
            </div>
            <div class="input-box">
                <label for="given_amount">Olingan summa:</label>
                <input type="number" value="0" min="0" id="given_amount" name="given_amount">
            </div>
            <div class="input-box">
                <label for="max_dept">Max qarzdorlik:</label>
                <input type="number" value="0" min="0" id="max_dept" name="max_dept">
            </div>
        </div>
        <button type="submit" class="save">Saqlash</button>
    </form>
</div>

<div id="jobTypeFormContainer" class="add-form-container">
    <div class="title">
        <i class='bx bx-briefcase'></i>
        <h2>Ish turi qo'shish</h2>
    </div>
    <form action="{% url 'obyekt_app:create_obyekt_job_type' %}" class="info" method="post">{% csrf_token %}
        <div class="box-wrapper">
            <div class="input-box">
                <label for="name">Nomi:</label>
                <input type="text" id="name" name="name">
            </div>
        </div>
        <button type="submit" class="save">Saqlash</button>
    </form>
</div>

<!-- edit -->
<div id="editObyektFormContainer" class="add-form-container">
    <div class="title">
        <i class='bx bx-package'></i>
        <h2>Obyektni o'zgartirish</h2>
    </div>
    <form action="{% url 'obyekt_app:edit_obyekt' 0 %}" class="info" method="post" id="editObyektForm">{% csrf_token %}
        <div class="box-wrapper">
            <div class="input-box">
                <label for="obyekt_worker">Javobgar:</label>
                <select id="obyekt_worker" name="obyekt_worker" style="width: 250px;">
                    {% for obyekt_worker in obyekt_workers %}
                        <option value="{{ obyekt_worker.id }}">{{ obyekt_worker.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <label for="name">Nomi:</label>
                <input type="text" id="name" name="name">
            </div>
            {% if worker_type == 'Admin' %}
            <div class="input-box">
                <label for="address">Manzil:</label>
                <input type="text" id="address" name="address">
            </div>
            <div class="input-box">
                <label for="job_type">Ish turi:</label>
                <select id="job_type" name="job_type" style="width: 250px;">
                    {% for obyektjobtype in obyektjobtypes %}
                    <option value="{{ obyektjobtype.name }}">{{ obyektjobtype.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <label for="deal_amount">Kelishilgan summa:</label>
                <input type="number" value="0" min="0" id="deal_amount" name="deal_amount">
            </div>
            <div class="input-box">
                <label for="given_amount">Olingan summa:</label>
                <input type="number" value="0" min="0" id="given_amount" name="given_amount">
            </div>
            <div class="input-box">
                <label for="max_dept">Max qarzdorlik:</label>
                <input type="number" value="0" min="0" id="max_dept" name="max_dept">
            </div>
            {% else %}
            <label for="">Admin obyektni o'zgartira oladi xolos</label>
            {% endif %}
        </div>
        <button type="submit" class="save">Saqlash</button>
    </form>
</div>

<script>
    document.getElementById('productTypeSelect1').addEventListener('change', function() {
    var selectedValue = this.value;
    window.location.href = "{% url 'main_app:set_cookie_for_all_types_of_filter_view' 0 1 %}".replace('0', 'worker_admin_id').replace('1', selectedValue);
    });
    document.getElementById('productTypeSelect2').addEventListener('change', function() {
    var selectedValue = this.value;
    window.location.href = "{% url 'main_app:set_cookie_for_all_types_of_filter_view' 0 1 %}".replace('0', 'worker_date_admin_id').replace('1', selectedValue);
    });
    function toggleForm(formId) {
        var formContainer = document.getElementById(formId);
        var currentDisplay = window.getComputedStyle(formContainer).display;

        formContainer.style.display = (currentDisplay === 'none') ? 'block' : 'none';
    }
    document.addEventListener('DOMContentLoaded', function () {
        // Find all elements with class 'product-type'
        var productTypeCells = document.querySelectorAll('.product-type');

        // Attach a click event listener to each 'product-type' cell
        productTypeCells.forEach(function (cell) {
            cell.addEventListener('click', function () {
                // Get the product type name and id from the clicked cell
                var productTypeName = cell.textContent.trim();
                var productTypeId = cell.getAttribute('data-id');

                // Populate the input fields in the edit form
                var editForm = document.getElementById('editProductTypeForm');
                var nameInput = editForm.querySelector('#name');

                nameInput.value = productTypeName;

                // Update the form action URL with the product type ID
                editForm.action = '/obyekt/edit_product_type/' + productTypeId + '/';

                // Show or toggle the edit form as needed
                toggleForm('editproductTypeFormContainer');
                document.getElementById('name').focus();
            });
        });
    // Find all elements with class 'product-id'
    var obyektIdCells = document.querySelectorAll('.obyekt-id');
    console.log(obyektIdCells);
    obyektIdCells.forEach(function (cell) {
        cell.addEventListener('click', function () {
            var obyektId = cell.getAttribute('id');
            var nameId = document.getElementById(obyektId + 'name').textContent.trim();
            var addressId = document.getElementById(obyektId + 'address').textContent.trim();
            var job_typeId = document.getElementById(obyektId + 'job_type').textContent.trim();
            var deal_amountId = document.getElementById(obyektId + 'deal_amount').textContent.trim();
            var given_amountId = document.getElementById(obyektId + 'given_amount').textContent.trim();
            var max_deptId = cell.getAttribute('data-max-dept');
            var obyekt_workerId = cell.getAttribute('data-worker');
            
            // Populate the input fields in the edit form
            var editForm = document.getElementById('editObyektForm');
            var nameInput = editForm.querySelector('#name');
            var obyekt_workerInput = editForm.querySelector('#obyekt_worker');
            var addressInput = editForm.querySelector('#address');
            var job_typeInput = editForm.querySelector('#job_type');
            var deal_amountInput = editForm.querySelector('#deal_amount');
            var given_amountInput = editForm.querySelector('#given_amount');
            var max_deptInput = editForm.querySelector('#max_dept');

            nameInput.value = nameId;
            addressInput.value = addressId;
            job_typeInput.value = job_typeId;
            deal_amountInput.value = parseFloat(deal_amountId.replaceAll(',', '').replaceAll(' ', '')); // Convert price to number;
            given_amountInput.value = parseFloat(given_amountId.replaceAll(',', '').replaceAll(' ', '')); // Convert price to number;
            max_deptInput.value = max_deptId;
            obyekt_workerInput.value = obyekt_workerId;

            editForm.action = '/obyekt/edit_obyekt/' + obyektId + '/';
            toggleForm('editObyektFormContainer');
        });
    })
    });
    function setObyektCookie1(obyektId) {
        // Set the cookie with the obyekt_id
        document.cookie = 'worker_date_admin_id=' + obyektId + '; path=/';
    }
    function setObyektCookie2(obyektId) {
        // Set the cookie with the obyekt_id
        document.cookie = 'worker_admin_id=' + obyektId + '; path=/';
    }
</script>
{% endblock %}
